Repository nortikin/sverchok, pull requests merged in 2021-01, with the labels that each got.

#3661 Nero Elman mk2
  docs/assets/nodes/logic/neuro.png
  docs/assets/nodes/logic/neuro_ansumble.png
  docs/assets/nodes/logic/neuro_data_in.png
  docs/assets/nodes/logic/neuro_data_in_text.png
  docs/assets/nodes/logic/neuro_etalon.png
  docs/assets/nodes/logic/neuro_result.png
  docs/assets/nodes/logic/neuro_training_result.png
  docs/nodes/logic/neuro_elman.rst
  docs/nodes/logic/neuro_elman_ru.md
  nodes/logic/neuro_elman.py
Labels: Blender:2.91, blender-api, bug FIX, documentation, enhancement, maintenance, pep8

#3798 Adaptive Polygons mk3
  docs/nodes/modifier_make/adaptive_polygons_mk3.rst
  docs/nodes/modifier_make/modifier_make_index.rst
  index.md
  json_examples/Design/Adaptive_Voronoi_panel.json
  json_examples/Design/Adaptive_per_face.json
  json_examples/Introduction/Adaptive_Spread.json
  nodes/modifier_make/adaptive_polygons_mk3.py
  old_nodes/adaptive_polygons_mk2.py
  ui/utils.py
  utils/math.py
  utils/sv_bmesh_utils.py
Labels: Node Upgrade, Performance

#3830 New String Tools Node
  core/sockets.py
  docs/nodes/text/string_tools.rst
  docs/nodes/text/text_index.rst
  index.md
  nodes/text/string_tools.py
  nodes/text/text_in_mk2.py
  nodes/text/text_out_mk2.py
  nodes/viz/viewer_typography.py
  utils/sv_obj_helper.py
  utils/sv_text_io_common.py
Labels: New Node
