Repository nortikin/sverchok, pull requests merged in 2021-03, with the labels that each got.

#3973 Mesh Select Mk2
  docs/nodes/analyzer/analyzer_index.rst
  docs/nodes/analyzer/mesh_select_mk2.rst
  index.md
  json_examples/Advanced/Candy.json
  json_examples/Advanced/Pineapple.json
  json_examples/Architecture/Coliseum.json
  json_examples/Architecture/ProfileBuilding.json
  json_examples/Design/Adaptive_per_face.json
  json_examples/Shapes/Blender_logo.json
  json_examples/Shapes/Donut.json
  json_examples/Shapes/SverchokLogo.json
  json_examples/Shapes/Technical_ring_with_holes.json
  nodes/analyzer/mesh_select_mk2.py
  old_nodes/mesh_select.py
Labels: Node Upgrade

#3966 Extra addons support
  settings.py
  tests/json_import_tests.py
  ui/development.py
  ui/nodeview_space_menu.py
  ui/sv_examples_menu.py
  ui/sv_icons.py
  ui/sv_panels.py
  utils/__init__.py
  utils/context_managers.py
  utils/extra_categories.py
  utils/sv_extra_addons.py
  utils/sv_update_utils.py
Labels: extra addons

#3940 Set loop normals node
  docs/nodes/object_nodes/object_nodes_index.rst
  docs/nodes/object_nodes/set_loop_normals.rst
  index.md
  nodes/object_nodes/set_loop_normals.py
Labels: New Node

#3974 Vector interpolation Recursived
  docs/nodes/vector/interpolation_mk3.rst
  nodes/vector/interpolation_mk3.py
Labels: Node Upgrade

#3996 Deconstruct Surface weights bugfix
  nodes/surface/deconstruct_surface.py
Labels: bug FIX

#3999 Random Points on Mesh Numpy Implementation
  docs/nodes/spatial/random_points_on_mesh.rst
  nodes/spatial/random_points_on_mesh.py
  ui/nodeview_rclick_menu.py
Labels: Node Upgrade
