Repository nortikin/sverchok, pull requests merged in 2021-04, with the labels that each got.

#3947 Gcode reborn 2021
  docs/nodes/exchange/exchange_index.rst
  index.md
  nodes/exchange/gcode_exporter.py
  utils/sv_svg_custom_server.htm
Labels: Blender:2.82, Blender:2.91

#4012 Mesh Clean Node
  data_structure.py
  docs/nodes/modifier_change/mesh_clean.rst
  docs/nodes/modifier_change/modifier_change_index.rst
  index.md
  nodes/modifier_change/limited_dissolve.py
  nodes/modifier_change/mesh_clean.py
  nodes/modifier_change/triangulate.py
  utils/sv_mesh_utils.py
Labels: New Node

#4014 Bisect Node upgrade
  data_structure.py
  docs/nodes/modifier_make/bisect.rst
  nodes/modifier_make/bisect.py
  utils/mesh_functions.py
  utils/nodes_mixins/recursive_nodes.py
  utils/sv_itertools.py
Labels: Node Upgrade

#4017 Extrude Edges Upgrade
  docs/nodes/modifier_change/extrude_edges_mk2.rst
  nodes/modifier_change/extrude_edges_mk2.py
  utils/mesh/extrude_edges.py
  utils/nodes_mixins/recursive_nodes.py
Labels: Node Upgrade

#4033 Component analyzer upgrade
  data_structure.py
  docs/nodes/analyzer/component_analyzer.rst
  nodes/analyzer/component_analyzer.py
  utils/math.py
  utils/modules/edge_utils.py
  utils/modules/polygon_utils.py
  utils/modules/vertex_utils.py
  utils/sv_bmesh_utils.py
Labels: Node Upgrade
