Repository nortikin/sverchok, pull requests merged in 2022-12, with the labels that each got.

#4789 Generate knotvector node
  docs/nodes/curve/generate_knotvector.rst
  index.yaml
  nodes/curve/generate_knotvector.py
  ui/icons/sv_knotvector.png
  ui/icons/svg/sv_knotvector.svg
  utils/curve/knotvector.py
Labels: NURBS

#4805 Do not use generic (rational) algorithm if the curve is non-rational.
  utils/curve/nurbs_solver.py
Labels: Performance :rocket:, NURBS

#4694 Geo Nodes Viewer
  core/sockets.py
  data_structure.py
  docs/nodes/viz/geo_nodes_viewer.rst
  index.yaml
  node_tree.py
  nodes/object_nodes/set_mesh_attribute.py
  nodes/viz/dupli_instances_mk5.py
  nodes/viz/geo_nodes_viewer.py
  nodes/viz/instancer.py
  nodes/viz/light_viewer.py
  nodes/viz/mesh_viewer.py
  nodes/viz/polyline_viewer.py
  ui/nodeview_keymaps.py
  ui/sv_panels.py
  utils/handle_blender_data.py
  utils/nodes_mixins/generating_objects.py
  utils/sv_bmesh_utils.py
Labels: New Node

#4791 "Fillet curve" node
  docs/nodes/curve/fillet_curve.rst
  index.yaml
  nodes/curve/fillet_curve.py
  nodes/curve/fillet_polyline.py
  tests/bezier_tests.py
  utils/curve/bezier.py
  utils/curve/core.py
  utils/curve/fillet.py
  utils/curve/nurbs.py
  utils/curve/primitives.py
  utils/curve/splines.py
  utils/fillet.py
Labels: NURBS

#4808 Add support of profiling Sverchok startup
  __init__.py
  core/__init__.py
  utils/profile.py
Labels: Performance :rocket:

#4849 Num Expression Node
  docs/nodes/script/numexpr_node.rst
  index.yaml
  menus/full_by_data_type.yaml
  menus/full_nortikin.yaml
  node_tree.py
  nodes/script/numexpr_node.py
  utils/vectorize.py
Labels: New Node
